Linear regression-1.png
Linear regression-2.png
Linear regression-3.png
Linear regression-4.png
Linear regression-5.png
Model building-1.png
Model building-10.png
Model building-11.png
Model building-12.png
Model building-13.png
Model building-14.png
Model building-15.png
Model building-16.png
Model building-17.png
Model building-18.png
Model building-19.png
Model building-2.png
Model building-20.png
Model building-21.png
Model building-22.png
Model building-23.png
Model building-24.png
Model building-3.png
Model building-4.png
Model building-5.png
Model building-6.png
Model building-7.png
Model building-8.png
Model building-9.png
Objective 2 KNN-1.png
normality-1.png
normality-10.png
normality-11.png
normality-12.png
normality-13.png
normality-14.png
normality-15.png
normality-16.png
normality-17.png
normality-18.png
normality-19.png
normality-2.png
normality-20.png
normality-21.png
normality-22.png
normality-3.png
normality-4.png
normality-5.png
normality-6.png
normality-7.png
normality-8.png
normality-9.png
unnamed-chunk-10-1.png
unnamed-chunk-10-10.png
unnamed-chunk-10-11.png
unnamed-chunk-10-12.png
unnamed-chunk-10-13.png
unnamed-chunk-10-14.png
unnamed-chunk-10-15.png
unnamed-chunk-10-16.png
unnamed-chunk-10-17.png
unnamed-chunk-10-18.png
unnamed-chunk-10-2.png
unnamed-chunk-10-3.png
unnamed-chunk-10-4.png
unnamed-chunk-10-5.png
unnamed-chunk-10-6.png
unnamed-chunk-10-7.png
unnamed-chunk-10-8.png
unnamed-chunk-10-9.png
unnamed-chunk-11-1.png
unnamed-chunk-11-2.png
unnamed-chunk-9-1.png
unnamed-chunk-9-2.png
